@import "tailwindcss";

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color-scheme: light;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

